<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- Related to the connection START -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SBTASKF?characterEncoding=utf8&amp;serverTimezone=Europe/Kiev</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        <!-- Related to the connection END -->

        <!-- Related to hibernate properties START -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDB53Dialect</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <!-- Related to hibernate properties END-->

        <property name="packagesToScan">ua.axiom</property>




    </session-factory>
</hibernate-configuration>